.payment {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 68px;
  padding: 17px;
  font-size: x-large;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.scroll {
  height: 60%;

  width: 340px;
}

.content {
  height: 247px;
  overflow-y: auto;
}
